%footer.footer
  %small
    The
    = link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/"
    by
    = link_to "Michael Hartl", "http://www.michealhartl.com/"
  %nav
    %ul
      %li= link_to "About", static_pages_about_path
      %li= link_to "Contact", static_pages_contact_path
      %li= link_to "News", "http://news.railstutortial.org"
