!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = full_title "Chirpr"
    = render "layouts/rails_default"
    = render "layouts/shim"
  %body{class: page_class}
    = render "layouts/header"
    .container
      = yield
      = render "layouts/footer"
